body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: indigo;
    font-family: sans-serif;
}

.form {
    background-color: blueviolet;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0, .4);
    border-radius: 10px;
    margin: 10px;
}

.input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    border: solid 4px;
    color: indigo;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.input::placeholder {
    font-family: sans-serif;
}

.btn {
    background-color: indigo;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
    /* margin: 10px 0; /*first input is top and bottom, second imput is left and right*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(.9);
}

.score {
    color: indigo;
    text-align: right;
}